.c-solutiongrid {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: block;
        border: 2px solid #CCC;
        border-bottom-color: $ribbon-orange;
        padding: $unit/2;
        text-align: center;
        &:nth-child(2n) {
            border-bottom-color: $ribbon-orangered;
        }
        &:nth-child(3n) {
            border-bottom-color: $ribbon-red;
        }
        &:nth-child(4n) {
            border-bottom-color: $ribbon-indigo;
        }
        &:nth-child(5n) {
            border-bottom-color: $ribbon-purple;
        }
        &:nth-child(6n) {
            border-bottom-color: $ribbon-blue;
        }
        &:nth-child(7n) {
            border-bottom-color: $ribbon-green;
        }
        &:nth-child(8n) {
            border-bottom-color: $ribbon-teal;
        }
        &:nth-child(9n) {
            border-bottom-color: $ribbon-lime;
        }
    }

    @media screen and (min-width:40em) { 
        display: flex;
        align-items: stretch;
        justify-content: space-around;
        flex-wrap: wrap;
        align-content: center;
        
        li {
            display: inline-block;
            flex-wrap: wrap;
            flex: 0 0 48%;
            margin: 1%;
        }
    }
}