.c-menu-social {
    margin: 0;
    padding: 0;
    a {
        display: inline-block;
        opacity: .5;
        margin: 0 0 0 $unit/2;
        height: 24px;
        width: 24px;
        color: #FFF;
        &:hover {
            opacity: .6;
            text-decoration: none;
        }
    }
}