.c-threesteps {
    @include clearfix();
    padding-top: $unit*2;
    padding-bottom: $unit*2;
    &__item {
        width: 100%;
        display: block;
        margin-bottom: $unit;
    }
    &__image {
        max-width: 100%;
    }
    &__footer {
        @include clearfix();
        background: $brand-blue;
        padding: $unit/2;
        &__action {
            float: right;
            margin-right: 1em;
        }
    }
    @media screen and (min-width: 670px) {
        &__item {
            width: 48%;
            float: left;
            margin-bottom: 0;
            &:last-child {
                margin-left: 2%;
            }
        }
    }
}