.c-featured {
    position: relative;
    overflow: hidden;
    height: 35em;
    &__image {
        background-color: #481854;
        background-size: cover;
        background-position: 50% 50%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
    }
    &__header {
        top: 2em;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        padding-left: $unit/2;
        padding-right: $unit/2;
        text-align: center;
        z-index: 1;
        &__title {
            @include font-size(24px);
            text-shadow: 3px 3px 3px $darkgrey; 
            color: #FFF;
            max-width: 18em;
            margin-left: auto;
            margin-right: auto;
        }
        &__button {
           box-shadow: 3px 3px 3px $darkgrey; 
        }
    }
    &__services {
        @include clearfix();
        background: #FFF;
        margin-bottom: $unit;
        border-radius: 3px;
        opacity: .55;
        &__service {
            margin: $unit;
            &__title {
                @include font-size(14px);
                font-weight: 600;
                margin: 0;   
            }
            &__copy {
                @include font-size(13px);
                margin: 0;
            }
        }
    }
    @media screen and (min-width:33em) { 
        &__header {
            top: 5em;
        }
        &__services {
            @include clearfix();
            display: flex;
            align-items: stretch;
            background:none;
            opacity: 1;
            &__service {
                background: #FFF;
                border-radius: 3px;
                border:1px solid $ribbon-purple;
                opacity: .55;  
                margin: 1% 1% 0 1%; 
                padding: $unit/2;
                width: 31.3333%;
                float: left;
                min-height: 10em;
                &__title {
                    @include font-size(16px);
                }
                &__copy {
                    @include font-size(14px);
                }
            }
        }
    }
    @media screen and (min-width: 60em) { 
        height: 33.85em;
        &__header {
            top: 8em;
             &__title {
                @include font-size(32px);
            }
        }
        &__services__service {
            min-height: 5em;
        }
    }
}
